*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    color: white;
    height: 250px;
    /* background-color: black;
    border-radius: 15px; */
}
#audioPosition{
    width: 100%;
}
.values{

    width: 100%;
    display: flex;
    justify-content: space-between;
}
#time{
    margin-top: 50px;
}
/* #mute{
    width: 100%;
    display: flex;
    justify-content: space-between;
} */
